@using APIManager.Models
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var system in Model.Systems)
{
    @foreach (var failedUrl in system.MostCommonFailedUrls)
    {
        <input class="failed-url" type="hidden" value="@failedUrl"/>
    }
    @foreach (var requestPH in system.RequestsPerHour)
    {
        <input class="requests-per-hour" type="hidden" data-interval="@requestPH.RequestDateTimeInterval" value="@requestPH.Count" />
    }
    <input id="amount-of-requests-value" type="hidden" value="@system.AmountOfRequests" />
    <input id="amount-failed-requests-value" type="hidden" value="@system.FailedRequests" />
    <input id="failed-ratio" type="hidden" value="@system.FailedRatio" />

    <div class="row my-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h5>@system.SystemName</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <h6>Failed Request Ratio</h6>
                        <canvas id="failed-ratio-chart"></canvas>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Requests per hour</h6>
                        <canvas id="requests-per-hour-chart"></canvas>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="rounded bg-warning p-3">
                            <h6 class="text-center">Most Common Failed URLs</h6>

                            <ul>
                                @foreach (var url in system.MostCommonFailedUrls)
                                {
                                    <li>@url</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/dashboard.js"></script>
}